{% extends 'base.html' %}
{% block title %}Detalle de movimiento{% endblock title %}

{% block content %}
    <h1>{{ movement.title }}</h1>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <ul>
      <li>Fecha: {{ movement.date }}</li>
      <li>Título: {{ movement.title }}</li>
      <li>Detalle: {{ movement.detail }}</li>
      <li>Monto: {{ movement.amount }}</li>
      <li>Cuenta de entrada: {{ movement.account_in.name }}</li>
      <li>Cuenta de salida: {{ movement.account_out.name }}</li>
      <li>Categoría del movimiento: {{ movement.category.name }}</li>
    </ul>
{% endblock content %}